.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.space{
  flex: 1 1 auto;
}
mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;

}
.logo{
  width: 80px;
  height:40px ;
}
.mat-toolbar{
  background-color: darkslategrey;
}
.space{
  flex: 1 1 auto;
  width: 100px;
  align-content: center;
}
.space input{
  align-content: center;
}

