<div style="background-color: #ffffff;width: 100%; margin-bottom: 20px">
    <table style="width: 100%; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);">
      <tr>
        <td rowspan="2" width="30%">
          <div class="previewimage"
               [style]="style"></div>
        </td>
        <td>
          <span style="font-weight: bold; font-size: x-large;cursor: pointer" routerLink="/blogs/{{blog.id}}">{{blog.title}}</span>
          <br>
          <span style="cursor: pointer" routerLink="/blogs/{{blog.id}}">{{blog.shortDescription}}</span>
        </td>

      </tr>
      <tr>
        <td>
          <div align="right">
              <span>username</span>
              <span><mat-icon matTooltip="User name">person_pin</mat-icon></span>
            <span>100</span>
            <mat-icon matTooltip="Like">thumb_up</mat-icon>
            <span style="margin-right: 0px">{{blog.views}}</span>
            <mat-icon style="margin-right: 0px"
                      matTooltip="View"> bar_chart
            </mat-icon>
          </div>
        </td>
      </tr>


    </table>
  </div>
