<h2>Update Category</h2>
<div style="text-align: center">
  <form [formGroup]="categoryForm" (submit)="updateCategory(category.id)">
    <mat-form-field appearance="fill" style="width: 500px">

      <mat-label>Name</mat-label>
      <input matInput style="width: 500px" formControlName="name">
    </mat-form-field>
    <div class="example-button-row">
      <button>Update</button>
      <button type="reset">Reset</button>
      <!--        <button mat-raised-button color="primary">Create</button>-->
    </div>
  </form>
</div>
