<app-toolbar></app-toolbar>
<div class="container">
  <div class="row">
    <h2 style="text-align: center">Information Account</h2>
    <div class="col-md-4">
      <a mat-raised-button routerLink="/admin/profile">Back</a>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4" style="text-align: center">
      <p>Avatar</p>
      <img src="{{account.avatarURL}}" alt="Avatar" width="300px" height="200px">
    </div>
    <div class="col-md-4">
      <br>
      <div>
        <p>Id:
          <span>{{account.id}}</span>
        </p>
      </div>
      <div>
        <p>Firstname:
          <span>{{account.firstname}}</span>
        </p>
      </div>
      <div>
        <p>Email:
          <span>{{account.email}}</span>
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <br>
      <div>
        <p>Username:
          <span>{{account.username}}</span>
        </p>
      </div>
      <div>
        <p>Lastname:
          <span>{{account.lastname}}</span>
        </p>
      </div>
    </div>
  </div>
</div>

