<app-toolbar></app-toolbar>
<form class="title-form">
  <mat-form-field class="example-full-width">
    <mat-label>Input your blog title here</mat-label>
    <input matInput placeholder="Ex:Manchester United">
  </mat-form-field>
  <button class="button"><span class="material-icons md-48">send</span>POST</button>
</form>
<p>Choose your thumbnail picture</p>
<app-firebase-upload></app-firebase-upload>
<mat-form-field appearance="outline" class="description">
  <mat-label>Input your description here</mat-label>
  <input matInput placeholder="description...">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Privacy</mat-label>
  <mat-select>
    <mat-option value="true">
      Public
    </mat-option>
    <mat-option value="false">
      Private
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="example-chip-list">
  <mat-label>Tags</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
              [removable]="removable" (removed)="remove(tag)">
      {{tag.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="New tag..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>
<app-texteditor></app-texteditor>
