<app-toolbar></app-toolbar>
<form class="title-form">
  <mat-form-field class="example-full-width">
    <mat-label>Input your blog title here</mat-label>
    <input matInput placeholder="Ex:Manchester United">

  </mat-form-field>
  <button class="button"><span class="material-icons md-48">send</span>POST</button>
</form>
<mat-form-field class="example-chip-list">
  <mat-label>Favorite Fruits</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
              [removable]="removable" (removed)="remove(fruit)">
      {{fruit.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="New fruit..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>
<app-texteditor></app-texteditor>
