<h2>Update Category</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <a mat-raised-button routerLink="/admin/categories">Back</a>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
<div style="text-align: center">
  <form [formGroup]="categoryForm" (submit)="updateCategory(category.id)">
    <mat-form-field appearance="fill" style="width: 500px">
      <mat-label>Name</mat-label>
      <input matInput style="width: 500px" formControlName="name">
    </mat-form-field>
    <div class="example-button-row">
      <button mat-raised-button color="primary" style="margin-right: 1%">Update</button>
      <button mat-raised-button color="warn" type="reset">Reset</button>
    </div>
  </form>
</div>
