.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.space{
  flex: 1 1 auto;
}
mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;

}
.logo{
  width: 80px;
  height:40px ;
}
.mat-toolbar{
  background-color: #e5dede;
  margin-top: 300px;
}
.space{
  flex: 1 1 auto;
  width: 100px;
  align-content: center;

}
.space input{
  align-content: center;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
