<div style="margin-top: 10%">
  <h1 style="font-weight: bold">Login</h1>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form [formGroup]="loginForm">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username"/>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password"/>
        </mat-form-field>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <section class="example-section" style="margin-bottom: 1%">
                <label for="remember">Remember</label>&nbsp;
                <input id="remember" type="checkbox" (change)="checkRememberMe($event)"/>
              </section>
            </div>
            <div class="col-md-6">
              <a href="#" data-target="#pwdModal" data-toggle="modal">Forgot password</a>
            </div>
          </div>
        </div>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <button mat-raised-button color="primary" (click)="login()">
                Login
              </button>
            </div>
          </div>
        </div>
        <br>
        <div>
          <p>Or Login with</p>
        </div>
        <div>
          <button mat-raised-button color="primary" type="button" class="waves-light">
            <i class="fab fa-facebook-f left"></i>Facebook
          </button>
          <button mat-raised-button color="warn" type="button" class="waves-light">
            <i class="fab fa-google-plus left"></i>Google
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<!--Modal-->
<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 style="color: red">Forgot Password</h1>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">
                <p>If you have forgotten your password you can reset it here.</p>
                <div class="panel-body">
                  <fieldset>
                    <div class="form-group">
                      <input class="form-control input-lg" placeholder="E-mail Address" name="email" type="email">
                    </div>
                    <input class="btn btn-lg btn-primary btn-block" value="Send My Password" type="submit">
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn btn-danger"  data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
</script>
