<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <mat-card class="example-card">-->
<!--      <mat-card-header >-->
<!--        <div mat-card-avatar class="example-header-image"></div>-->
<!--        <mat-card-title>Shiba Inu</mat-card-title>-->
<!--        <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
<!--      </mat-card-header>-->
<!--      &lt;!&ndash;  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">&ndash;&gt;-->
<!--      <mat-card-content>-->
<!--        <p>-->
<!--          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--          bred for hunting.-->
<!--        </p>-->
<!--      </mat-card-content>-->
<!--      &lt;!&ndash;    <mat-card-actions>&ndash;&gt;-->
<!--      <button mat-button>LIKE</button>-->
<!--      <button mat-button>SHARE</button>-->
<!--      &lt;!&ndash;    </mat-card-actions>&ndash;&gt;-->
<!--    </mat-card>-->
<!--  </div>-->
<!--  <mat-card class="example-card">-->
<!--    <mat-card-header>-->
<!--      <div mat-card-avatar class="example-header-image"></div>-->
<!--      <mat-card-title>Shiba Inu</mat-card-title>-->
<!--      <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
<!--    <mat-card-content>-->
<!--      <p>-->
<!--        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--        bred for hunting.-->
<!--      </p>-->
<!--    </mat-card-content>-->
<!--    <mat-card-actions>-->
<!--      <button mat-button>LIKE</button>-->
<!--      <button mat-button>SHARE</button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->

        <mat-card style="background-color: #f8f8f8; margin: 50px 0;">
          <table>
            <tr>
              <td> <img src="../../assets/image/image.jpg" style="display: inline-block" height="50" width="50"/></td>
              <td><p style="display: inline-block ;margin-left: 0%">
                input title here
              </p></td>
            </tr>
          </table>


<!--            <div style="display: inline-block" mat-card-avatar class="example-header-image">-->

<!--            </div>-->
<!--            <mat-card-title>Shiba Inu</mat-card-title>-->
<!--            <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->

        <!--        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->


          <button style="display: inline-block" mat-button>LIKE</button>
          <button style="display: inline-block" mat-button>SHARE</button>


        </mat-card>





