<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <mat-card class="example-card">-->
<!--      <mat-card-header >-->
<!--        <div mat-card-avatar class="example-header-image"></div>-->
<!--        <mat-card-title>Shiba Inu</mat-card-title>-->
<!--        <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
<!--      </mat-card-header>-->
<!--      &lt;!&ndash;  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">&ndash;&gt;-->
<!--      <mat-card-content>-->
<!--        <p>-->
<!--          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--          bred for hunting.-->
<!--        </p>-->
<!--      </mat-card-content>-->
<!--      &lt;!&ndash;    <mat-card-actions>&ndash;&gt;-->
<!--      <button mat-button>LIKE</button>-->
<!--      <button mat-button>SHARE</button>-->
<!--      &lt;!&ndash;    </mat-card-actions>&ndash;&gt;-->
<!--    </mat-card>-->
<!--  </div>-->
<!--  <mat-card class="example-card">-->
<!--    <mat-card-header>-->
<!--      <div mat-card-avatar class="example-header-image"></div>-->
<!--      <mat-card-title>Shiba Inu</mat-card-title>-->
<!--      <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
<!--    <mat-card-content>-->
<!--      <p>-->
<!--        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--        bred for hunting.-->
<!--      </p>-->
<!--    </mat-card-content>-->
<!--    <mat-card-actions>-->
<!--      <button mat-button>LIKE</button>-->
<!--      <button mat-button>SHARE</button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->

        <div style="background-color: #f8f8f8; margin: 10px 0;">
          <table style="width: 100%; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);" >
            <tr>
              <td rowspan="2"><div class="previewimage" [style]="style"></div></td>
              <td><p style="display: inline-block ;margin-left: 0%;font-size: xx-large;font-weight: bold">
                {{blog.title}}
              </p></td>
              <td>
                <div align="right">
                <button type="button"
                        aria-label="Toggle sidenav"
                        mat-icon-button
                        matTooltip="Delete this blog"
                >
                  <span><mat-icon>delete</mat-icon></span>
                </button>
                <button type="button"
                        aria-label="Toggle sidenav"
                        mat-icon-button
                        matTooltip="Update this blog"
                >
                  <span><mat-icon>update</mat-icon></span>

                </button>

                <button type="button"
                        aria-label="Toggle sidenav"
                        mat-icon-button
                        matTooltip="See this blog"
                        routerLink="/blogs/{{blog.id}}"
                >
                  <span><mat-icon>remove_red_eye</mat-icon></span>
                </button>
                  <button type="button"
                          aria-label="Toggle sidenav"
                          mat-icon-button
                          matTooltip="See my profile"
                  >
                    <span><mat-icon>person_pin</mat-icon></span>
                  </button>
                </div>
              </td>
            </tr>
            <tr>

              <td></td>
              <td>
                <div align="right">{{blog.views}}
                <mat-icon
                  matTooltip="View"> bar_chart</mat-icon>
              </div>
                </td>
            </tr>
          </table>



<!--            <div style="display: inline-block" mat-card-avatar class="example-header-image">-->

<!--            </div>-->
<!--            <mat-card-title>Shiba Inu</mat-card-title>-->
<!--            <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->

        <!--        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->




        </div>





