
<div style="background-color: #f8f8f8; width: 100%">
  <table style="width: 100%;">
    <tr>
      <td rowspan="2" width="30%">
        <div class="previewimage" [style]="style"></div>
      </td>
      <td style="font-weight: bold;font-size: x-large;cursor: pointer" routerLink="/blogs/{{blog.id}}">{{blog.title}}</td>

    </tr>
    <tr>
      <td>
        <div align="right">
          <span>user name</span>
            <span><mat-icon matTooltip="User name">person_pin</mat-icon></span>
          <span>0</span>
          <span><mat-icon matTooltip="Like">thumb_up</mat-icon></span>

          <span></span>

          <span style="margin-right: 0px">{{blog.views}}</span>
          <mat-icon style="margin-right: 0px"
                    matTooltip="View"> bar_chart</mat-icon>
        </div>
      </td>
    </tr>






  </table>
</div>


