
<div style="background-color: #f8f8f8; width: 100%">
  <table style="width: 100%;">
    <tr>
      <td rowspan="2" width="30%">
        <div class="previewimage" style="background-image: url(https://th.bing.com/th/id/OIP.1DEojgxtXLMUK0TzvAR9MwHaFj?pid=ImgDet&rs=1)"></div>
      </td>
      <td>title here</td>

    </tr>
    <tr>
      <td>
        <div align="right">
          <button type="button"
                  aria-label="Toggle sidenav"
                  mat-icon-button
                  matTooltip="See my profile"
                  style="margin-right: 0px"
          >
            <span><mat-icon>person_pin</mat-icon></span>
          </button>
          <span style="margin-right: 0px">0</span>
          <mat-icon style="margin-right: 0px"
                    matTooltip="View"> bar_chart</mat-icon>
        </div>
      </td>
    </tr>






  </table>
</div>


