<app-toolbar></app-toolbar>
<table>
  <tr>
    <td>
      <form class="example-form">
        <mat-form-field class="example-full-width" >
          <mat-label>Search Blog</mat-label>
          <input matInput placeholder="Ex. Blog" name="searchkey" [(ngModel)]="searchkey">
        </mat-form-field>
      </form>
    </td>


    <td>
      <button style="margin-right: 10px" type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              matTooltip="Delete this blog"
              (click)="search()"
      >
        <span><mat-icon >search</mat-icon></span>
      </button>
    </td>
  </tr>
</table>
<div  style="width: 20%; margin-left :5%;height: 800px; float: left">
  <mat-button-toggle-group name="fontStyle" style="width: 100%;border: none" vertical aria-label="Font Style">
    <mat-button-toggle style="font-weight: bold"value="bold">Bold</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div style="width: 36%; margin-left: 2%; float: left">
  <div>
  <app-thumbnail-display *ngFor="let blog of pageSlice" [blog]="blog"></app-thumbnail-display>
  </div>
<mat-paginator
[length] ="this.blogs.length"
[pageSize]="5"
[pageSizeOptions]="[5,10,15]"
(page)="OnPageChange($event)"
></mat-paginator>
</div>

<div style="width: 30%; height: 600px; float: left; margin-left: 2%; margin-bottom: 1%;margin-top: 0%">
  <p style="text-align: center;font-weight: bold">Top 5 most viewed</p>
  <app-thumb-nail-display-right *ngFor="let blog of blogtop5viewd" [blog]="blog"></app-thumb-nail-display-right>
</div>
<div style="width: 30%; height: 600px; float: left; margin-left: 2%;margin-bottom: 2%; margin-top: 2%">
  <p style="font-weight: bold;text-align: center">Top 5 most liked</p>
  <app-thumb-nail-display-right *ngFor="let blog of blogtop5liked"[blog]="blog"></app-thumb-nail-display-right>
</div>
