<app-toolbar></app-toolbar>
<table>
  <tr>
    <td>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Search Blog</mat-label>
          <input matInput placeholder="Ex. Blog" value="">
        </mat-form-field>
      </form>
    </td>


    <td>
      <button style="margin-right: 10px" type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              matTooltip="Delete this blog"
      >
        <span><mat-icon>search</mat-icon></span>
      </button>
    </td>
  </tr>
</table>
<div style="width: 30%; height: 800px; background: aquamarine; float: left"></div>
<div style="width: 36%; margin-left: 2%; float: left">
  <div>
  <app-thumbnail-display *ngFor="let blog of pageSlice" [blog]="blog"></app-thumbnail-display>
  </div>
<mat-paginator
[length] ="this.blogs.length"
[pageSize]="3"
[pageSizeOptions]="[3,6,9]"
(page)="OnPageChange($event)"
></mat-paginator>
</div>

<div style="width: 30%; height: 800px; float: left; margin-left: 2%;">
  <p>Top 5 most viewed</p>
  <app-thumb-nail-display-right *ngFor="let blog of blogtop5viewd" [blog]="blog"></app-thumb-nail-display-right>

</div><div style="width: 30%; height: 800px; float: left; margin-left: 2%;">
  <p>Top 5 most liked</p>
  <app-thumb-nail-display-right *ngFor="let blog of blogtop5liked"[blog]="blog"></app-thumb-nail-display-right>

</div>
