.example-form {
  width: 1450px;
}

.example-full-width {
  width: 100%;
}
.thumbnailcenter{
  align-items: center;

}
.home-container{
  background-image: url("https://wallpaperaccess.com/full/1159491.jpg");
}
